global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

listen stats
    bind *:8404                # Sets the port to 8404
    mode http
    stats enable               # Enables the stats page
    stats uri /haproxy?stats   # Sets the URL path
    stats refresh 10s          # Auto-refreshes the page every 10s
    stats realm Haproxy\ Stats # Title for the login prompt
    stats auth admin:saeid12@ # Sets username and password



global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# Frontend for Agent Enrollment (port 1514/TCP)
frontend wazuh-enrollment
    bind *:1514
    default_backend wazuh-managers-enroll

# Backend for Enrollment
backend wazuh-managers-enroll
    balance roundrobin
    server wazuh-master 192.168.0.104:1514 check fall 3 rise 2
    server wazuh-worker 192.168.0.201:1514 check fall 3 rise 2

# Frontend for Agent Events (port 1515/TCP)
frontend wazuh-events
    bind *:1515
    default_backend wazuh-managers-events

# Backend for Events
backend wazuh-managers-events
    balance roundrobin
    server wazuh-master 192.168.0.104:1515 check fall 3 rise 2
    server wazuh-worker 192.168.0.201:1515 check fall 3 rise 2

# Frontend for Wazuh API (port 55000/TCP)
frontend wazuh-api
    bind *:55000
    default_backend wazuh-managers-api

# Backend for API
backend wazuh-managers-api
    balance source
    server wazuh-master 192.168.0.104:55000 check fall 3 rise 2
    server wazuh-worker 192.168.0.201:55000 check fall 3 rise 2

# Frontend for Wazuh Dashboard (port 443/TCP)
frontend wazuh-dashboard
    bind *:443
    default_backend dashboard-backend

# Backend for Dashboard
backend dashboard-backend
    mode tcp
    option tcp-check
    balance roundrobin
    server dashboard 192.168.0.202:443 check fall 3 rise 2

# Frontend for Wazuh Indexer (port 9200/TCP)
frontend wazuh-indexer
    bind *:9200
    default_backend indexer-backend

# Backend for Indexer
backend indexer-backend
    mode tcp
    option tcp-check
    balance roundrobin
    server indexer1 192.168.0.200:9200 check fall 3 rise 2
    server indexer2 192.168.0.203:9200 check fall 3 rise 2
